.form {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;

  &__word {
    display: flex;
    flex-direction: column;
  }

  &__translate {
    display: flex;
    flex-direction: column;
  }
}