.dictionary {
  padding: 8px 16px;

  &__title {
    text-align: center;
    margin-bottom: 18px;
  }

  &__helper-text {
    width: 358px;
    font-size: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 18px;
  }

  &__table {
    margin: auto;
    margin-bottom: 24px;
  }

  &__button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(120, 120, 120);
  
    &:hover {
      color: rgb(75, 75, 75);
      background-color: #fff;
      border: 1px solid grey;
    }
  }
}

.table {
  border-collapse: collapse;

  &__head {
    color: #fff;
    background-color: rgb(120, 120, 120);
  }

  &__item {
    border: 1px solid grey;
    padding: 4px;

    &--n {
      width: 40px;
      text-align: center;
    }

    &--word {
      width: 150px;
    }

    &--translate {
      width: 150px;
    }
  }
}