.statistics {
  padding: 8px 16px;

  &__text {
    width: 358px;
    text-align: center;
    margin: auto;
    padding: 20px;
    margin-bottom: 18px;
  }

  &__table {
    margin: auto;
    margin-bottom: 24px;
  }
}

.table {
  &__item {
    width: 150px;

    &--time {
      text-align: center;
    }

    &--resault {
      text-align: center;
      font-size: 30px;
    }
  }
}