.nav {
  margin-bottom: 36px;

  &__image {
    width: 100vw;
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  &__link {
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    color: rgb(75, 75, 75);
    width: 84px;
    padding: 10px 0;
    border: 1px solid grey;
    border-radius: 10px;
  
    &:hover {
      color: #fff;
      background-color: rgb(120, 120, 120);
      border: 1px solid #fff;
    }
  }
}